.cart {
    &__name {
        font-size: 2em;
        padding: 30px;
        text-align: center;
    }

// cart 'active' mode
    &__active {
        &--product {
            padding: 5px;
            margin: 5px 0;
            border: 1px #ddd solid;
            &-photo-img {
                width: 100%;
                height: auto;
            }
            &-quantity-button, &-quantity-value {
                display: inline-block;
                margin: 20px 10px;
                text-align: center;
            }
            &-price {
                text-align: center;
                padding: 20px 0;
            }
        }
        &--discount, &--sum, &--pay {
            text-align: right;
            padding: 5px;
            margin: 5px;
            &-input {
                text-align: center;
                padding: 5px;
            }
            &-cash {
                font-weight: bold;
            }
        }
    }

// cart in 'summary' mode
    &__summary {
        &--line {
            background: #efefef;
            font-weight: bold;
            padding: 5px;
            margin: 5px 0;
            border: 1px #dddddd solid;
            &-element, &-element-sum {
                text-align: center;
            }
            &-element-name, &-element-sum {
                font-size: 1.5em;
            }
        }
        &--product {
            padding: 5px;
            margin: 5px 0;
            border: 1px #ddd solid;
            &-price {
                text-align: center;
            }
        }
    }
}