.cart {
    &__name {
        font-size: 2em;
        padding: 30px;
        text-align: center;
    }

// cart 'active' mode
    &__active {
        &--product {
            padding: 5px;
            margin: 5px 0;
            border: 1px #ddd solid;
            &-photo-img {
                width: 100%;
                height: auto;
            }
            &-quantity {
                text-align: center;
                &-button, &-value {
                    display: inline-block;
                    margin: 20px 5px;
                    text-align: center;
                }
                &-button {
                    background: white;
                    border: none;
                }
                &-value {
                    background: #eee;
                    padding: 10px;
                }
            }
            &-delete {
                font-size: 0.7em;
                color: darkred;
                font-style: italic;
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
            
            &-price {
                text-align: center;
                padding: 20px 0;
            }
        }
        &--discount, &--sum, &--pay {
            text-align: right;
            padding: 5px;
            margin: 5px;
            &-input {
                text-align: center;
                padding: 5px;
                &:disabled {
                    background: lightgreen;
                    color: green;
                }
            }
            
            &-cash {
                font-weight: bold;
                &-green {
                    color: green;
                }
            }
        }
        &--functionalities-pay {
            background: black;
            border: none;
            color: white;
            padding: 5px 15px;
        }
    }

// cart in 'summary' mode
    &__summary {
        &--line {
            background: #efefef;
            font-weight: bold;
            padding: 5px;
            margin: 5px 0;
            border: 1px #dddddd solid;
            &-element, &-element-sum {
                text-align: center;
            }
            &-element-name, &-element-sum {
                font-size: 1.5em;
            }
        }
        &--product {
            padding: 5px;
            margin: 5px 0;
            border: 1px #ddd solid;
            &-price {
                text-align: center;
            }
        }
    }
}

@media(max-width: 992px) {
    .cart__active {
        &--product {
            &-description {
                font-size: 0.9em;
            }
            &-description-name {
                text-align: center;
                font-weight: bold;
                font-size: 1.4em;
            }
            &-price {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
        &--discount, &--sum, &--pay {
            text-align: center;
        }
    }
}

@media(max-width: 768px) {
    .cart {
    // cart 'active' mode
        &__active--product {
            &-photo {
                text-align: center;
                &-img {
                    max-width: 200px;
                }
            }
            &-quantity {
                text-align: center;
            }
        }
    
    // cart in 'summary' mode
        &__summary {
            &--line {
                &-name {
                    text-align: center;
                }
                &-element-sum {
                    font-size: 1.2em;
                }
                &-element-name {
                    font-size: 1em;
                    text-align: center;
                }
            }
            &--product {
                &-name {
                    text-align: center;
                }
            }
        }
    }
}