.productList {
    text-align: center;

    &__pagination {
        justify-content: flex-end;
    }
    &__product {
        display: inline-block;
        text-align: center;
        padding: 10px;
        &:hover {
            text-decoration: none;
        }

        &--frame {
            background: #eee;
            padding: 5px;
            &:hover {
                background: #efe;
            }
        }
        &--info, &--name, &--price {
            color: #333;
            margin: 5px;
            font-size: 1em;
            text-align: center;
        }
        &--info, &--name {
            font-weight: bold;
        }
        &--info {
            color: darkolivegreen;
            height: 24px;
        }
        &--photo {
            width: 100%;
            height: auto;
        }
    }
}
.pagination {
    padding: 0 20px;
    .page-link {
        border: none;
        color: #888;
    }
    .active .page-link {
        color: #333;
        font-weight: bold;
        background: white;
    }
    .page-item {
        border: none;
    }
}

@media(max-width: 870px) {

    .productList {
        &__product {
            padding: 5px;
            &--frame {
                padding: 3px;
            }
            &--info, &--name, &--price {
                font-size: 0.85em;
            }
        }
    }
 }

 @media(max-width: 768px) {

    .productList {
        &__product {
            padding: 30px;
            &--frame {
                padding: 10px;
            }
            &--info, &--name, &--price {
                font-size: 1em;
            }
            &--photo {
                max-width: 250px;
            }
        }
    }
 }
 