.product {
    background: #eee;
    display: inline-block;
    text-align: left;
    margin: 5px;
    padding: 10px;

    &:hover {
        text-decoration: none;
        background: lightgreen;
    }

    &--info, &--name, &--price {
        color: #333;
    }

    &--info, &--name {
        font-weight: bold;
    }

    &--info {

    }

    &--photo {
        width: 100%;
        height: auto;
    }
    &--name {

    }
    &--price {

    }
}