.faq {
    &__header {
        text-align: center;
        padding: 20px;
    }

    &__point {
        padding: 20px;
        
        &--question {
            font-weight: bold;
        }
        &--answer {
            color: #666;
            font-style: italic;
        }
    }
}